{% extends 'post/base.html' %}

{% block content %}
<h2>{{ post.title }}</h2>
<p><strong>Autor:</strong> {{ post.author }}</p>
<p><strong>Fecha de Publicación:</strong> {{ post.published_date }}</p>
<p>{{ post.content }}</p>

<a href="{% url 'editar_publicacion' post.pk %}">Editar</a>
<form method="post" action="{% url 'eliminar_publicacion' post.pk %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
</form>
<a href="{% url 'lista_publicaciones' %}">Volver a la lista de publicaciones</a>
{% endblock %}